[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=reSolveGuiLinux64
Comment=Start ReSolveGui
Comment[it_IT]=Avvia ReSolveGui
Icon=ReSolve
Icon[it_IT]=ReSolve
Name=ReSolveGui
Name[it_IT]=ReSolveGui
Categories=Utility
